main {
   font-size: 0.8rem;
   font-family: 'Oswald', sans-serif;
}

header {
   background-color: rgb(6, 6, 41);
   color: aliceblue;
   margin: auto;
   text-align: center;
}

.topics {
   display: grid;
   grid-template-columns: 1fr;
   border: 1px solid rgb(255, 0, 0);
   padding: 0 1rem;
   column-gap: 1rem;
}

.topics section {
   padding: 1rem;
   /* margin: auto; */
   margin: 0.5rem;
   border-radius: 10px;
   background-color: rgb(189, 189, 189);
   /* max-width:min-content; */
}



.topics h3 {
   background-color: rgb(71, 71, 71);
}

/*Tablet Views*/
@media (min-width:37.5em) {

   .topics {
      grid-template-columns: 1fr 1fr;
      border: 1px solid rgb(4, 0, 255);
   }

   section:nth-child(3) {
      grid-column: span 2;
    }
}


/*Computer Views*/
@media (min-width:60em) {

   .topics {
      grid-template-columns: 1fr 1fr 1fr;
      border: 1px solid rgb(0, 255, 85);
   }

   section:nth-child(3) {
      grid-column: span 1;
    }
}



