@media (min-width: 50em) {
	nav a {
		font-size: 1.3rem;
	}

   .dropdown .dropbtn {
      display: none;
   }

   .dropdown-content {
      display: flex;
      position: relative;
      background-color: rgb(0, 125, 118);
   }

   .dropdown:hover .dropdown-content {
      display: flex;
    }

   main {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      grid-auto-rows: minmax(150px, auto);
      max-width: 900px;
      margin: auto;
      padding: 5px;
   }

   footer {
      display: grid;
      max-width: 900px;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 100%;
      justify-content: space-between;
      border: #bbb;
      border-style: solid;
   }
   
   .footerlogo {
      grid-column: 1/2;
      grid-row: 1;
   }
   
   .footerinfo {
      grid-column: 2/3;
      grid-row: 1;
   }
   
   .footerlegal {
      grid-column: 1/3;
      grid-row: 2;
      display: flex;
      justify-content: space-evenly;
   
   }


   .Hero {
      grid-column: 2/4;
      grid-row: 1/3;
   }
   
   .Event {
      grid-column: 1/2;
      grid-row: 1;
   }
   
   .Weather {
      grid-column: 1/2;
      grid-row: 2;
   }
   
   .NewsRelease {
      grid-column: 2/4;
      grid-row: 3;
   }
   
   .Join {
      grid-column: 1/2;
      grid-row: 3;
      display: block;
   }
   
   .Spotlight {
      grid-column: 4/5;
      grid-row: 1/4;
      display: grid;
   }

   .Spotlight div {
      height: auto;
      border: rgb(61, 60, 60) 1px;
      margin: 5px;
      border-style: solid;
      padding: 5px;
   }
   
   .Spotlight1 {
      grid-column: 1/2;
      grid-row: 1/2;
   }
   
   .Spotlight2 {
      grid-column: 1/2;
      grid-row: 2/3;
   }
   
   .Spotlight3 {
      display: block;
   }
}